# GENERATED — не редактировать вручную.
# Источник: docs/handoff/01_postanovka/04_openapi.yaml (immutable handoff, ТЗ Приложение A).
# Генератор: scripts/generate_production_openapi.py — нормализация OpenAPI 3.1:
#   legacy `nullable: true` → `type: [<type>, "null"]`. Поверхность контракта не меняется.
# Регенерация: backend/.venv/bin/python scripts/generate_production_openapi.py
openapi: 3.1.0
info:
  title: reHome Support Module API (kb-support)
  version: 1.1.0
  description: 'API модуля службы поддержки reHome. Приём, обработка и сопровождение обращений пользователей силами операторов. Первая линия — AI-чат kb-search, эскалации приходят сюда.


    Архитектурные решения зафиксированы в ADR-0005:

    - Данные User/Booking/Premises/Collaborator — через API основной платформы

    - Ticket и ServiceOrder — разные сущности, связь по ссылке

    - Email — свой IMAP-парсер в контуре РФ

    - Уведомления: email + push + AI-чат + SMS (Exolve)

    - access_level на уровне хранилища, scope из JWT (ADR-0003)


    Стиль совпадает с основным API базы знаний: cursor-пагинация, RFC 7807 для ошибок, hybrid auth (m2m Bearer + browser cookie). v1.1: добавлены претензионные типы (COMPENSATION/GUARANTEE/INSURANCE/ACCEPTANCE_ACT), case_state и связанные поля, схема TicketCaseDetails, действия /decision и /case-state, события webhook case_decided/payout_released/insurance_event.'
  contact:
    name: ООО «РЕХОМ»
servers:
- url: https://api.rehome.one
  description: Production
- url: https://staging-api.rehome.one
  description: Staging
tags:
- name: Tickets
  description: Обращения — центральная сущность
- name: Messages
  description: Переписка и внутренние заметки
- name: Chat Integration
  description: Интеграция с AI-чатом kb-search
- name: Canned Responses
  description: Шаблоны ответов
- name: SLA
  description: Политики SLA
- name: Automation
  description: Правила автоматизации
- name: Analytics
  description: Метрики и отчёты
- name: Webhooks
  description: Регистрация webhook-подписок
security:
- BearerAuth: []
- CookieAuth: []
paths:
  /api/v1/support/tickets:
    get:
      tags:
      - Tickets
      summary: Список заявок
      description: 'Возвращает заявки с фильтрами и cursor-пагинацией. Видимость зависит от scope: заявитель видит только свои; оператор — по своей команде/scope (фильтрация на уровне хранилища, ADR-0003).'
      operationId: listTickets
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/TicketStatus'
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/TicketType'
      - name: priority
        in: query
        schema:
          $ref: '#/components/schemas/TicketPriority'
      - name: channel
        in: query
        schema:
          $ref: '#/components/schemas/TicketChannel'
      - name: assignee_id
        in: query
        schema:
          type: string
          format: uuid
      - name: requester_id
        in: query
        schema:
          type: string
          format: uuid
      - name: team
        in: query
        schema:
          $ref: '#/components/schemas/TicketTeam'
      - name: premises_id
        in: query
        schema:
          type: string
          format: uuid
      - name: sla_breached
        in: query
        schema:
          type: boolean
      - name: tag
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - resolution_due_at
          - -resolution_due_at
          - priority
          - -priority
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TicketSummary'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Tickets
      summary: Создать заявку
      operationId: createTicket
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketCreate'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tickets
      summary: Карточка заявки
      description: Заявитель видит только свою. Недоступная заявка → 404 (ADR-0003).
      operationId: getTicket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Tickets
      summary: Обновить заявку
      description: Статус, приоритет, тип, команда, теги. Недопустимый переход статуса → 409.
      operationId: updateTicket
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}/assign:
    post:
      tags:
      - Tickets
      summary: Назначить заявку
      operationId: assignTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - assignee_id
              properties:
                assignee_id:
                  type: string
                  format: uuid
                team:
                  oneOf:
                  - $ref: '#/components/schemas/TicketTeam'
                  - type: 'null'
  /api/v1/support/tickets/{id}/escalate:
    post:
      tags:
      - Tickets
      summary: Эскалировать на 2-ю линию
      operationId: escalateTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                team:
                  oneOf:
                  - $ref: '#/components/schemas/TicketTeam'
                  - type: 'null'
                reason:
                  type: string
  /api/v1/support/tickets/{id}/resolve:
    post:
      tags:
      - Tickets
      summary: Отметить решённой
      operationId: resolveTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                resolution_note:
                  type: string
  /api/v1/support/tickets/{id}/close:
    post:
      tags:
      - Tickets
      summary: Закрыть заявку
      operationId: closeTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/support/tickets/{id}/reopen:
    post:
      tags:
      - Tickets
      summary: Переоткрыть заявку
      operationId: reopenTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                reason:
                  type: string
  /api/v1/support/tickets/{id}/rate:
    post:
      tags:
      - Tickets
      summary: Оценка заявителя
      description: Доступно заявителю после RESOLVED/CLOSED. Оценка 1-2 уведомляет супервайзера.
      operationId: rateTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - rating
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}/decision:
    post:
      tags:
      - Tickets
      summary: Решение по претензии
      description: 'Оформляет решение по претензионному обращению (COMPENSATION): полная/частичная выплата или отказ. Уведомляет обе стороны через ЛК (Договор 5.8.8). Требует прав claims-оператора.'
      operationId: decideTicket
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - decision
              properties:
                decision:
                  $ref: '#/components/schemas/TicketDecision'
                approved_amount:
                  type: number
                  description: Обязательно при FULL/PARTIAL
                reason:
                  type: string
                  maxLength: 4000
                  description: Мотивировка (обязательна при PARTIAL/REJECTED)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}/case-state:
    post:
      tags:
      - Tickets
      summary: Переход состояния разбирательства
      description: Меняет case_state претензионного обращения. Недопустимые переходы → 422. Переход PAYOUT_PENDING → PAID требует подтверждения двумя сотрудниками (4 глаз).
      operationId: transitionCaseState
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - case_state
              properties:
                case_state:
                  $ref: '#/components/schemas/TicketCaseState'
                note:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}/messages:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Messages
      summary: Переписка по заявке
      description: Внутренние заметки (is_internal) скрыты от заявителя на уровне хранилища.
      operationId: listMessages
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TicketMessage'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Messages
      summary: Добавить сообщение или внутреннюю заметку
      description: is_internal=true → видно только операторам. Ответ заявителю доставляется по каналам уведомлений (ADR-0005).
      operationId: createMessage
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketMessageCreate'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TicketMessage'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/tickets/{id}/history:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tickets
      summary: Журнал действий по заявке (внутренний)
      description: 'Неизменяемый журнал изменений заявки (§3.7). Только для операторов; заявителю — 403. Полный список без пагинации, в обратном хронологическом порядке (новые первыми).'
      operationId: getTicketHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TicketHistory'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/support/tickets/{id}/requester-context:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Tickets
      summary: Контекст заявителя (профиль/квартира/бронь)
      description: 'Контекст заявителя для карточки оператора (FR-2.2): профиль, объект, бронь, коллаборант. Данные из rehome.one platform по HTTP. Только для операторов; заявителю — 403. Секции независимы и nullable (сущности нет либо сосед недоступен — graceful degradation, AT-003). Поле degraded=true означает, что интеграция с platform не сконфигурирована (см. #77), а не отсутствие конкретной сущности.'
      operationId: getRequesterContext
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/RequesterContext'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/support/tickets/from-chat:
    post:
      tags:
      - Chat Integration
      summary: Создать заявку из эскалации AI-чата
      description: Вызывается kb-search при эскалации диалога на оператора. Создаёт Ticket с channel=AI_CHAT, сохраняет chat_session_id и transcript. m2m-доступ (BearerAuth).
      operationId: createTicketFromChat
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketFromChat'
      responses:
        '201':
          description: Заявка создана
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Ticket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/canned-responses:
    get:
      tags:
      - Canned Responses
      summary: Список шаблонов ответов
      operationId: listCannedResponses
      parameters:
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/TicketType'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/CannedResponse'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
    post:
      tags:
      - Canned Responses
      summary: Создать шаблон
      description: scope=staff_support+
      operationId: createCannedResponse
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponseInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CannedResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/canned-responses/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    patch:
      tags:
      - Canned Responses
      summary: Изменить шаблон
      operationId: updateCannedResponse
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponseInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CannedResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/support/sla-policies:
    get:
      tags:
      - SLA
      summary: Список SLA-политик
      description: scope=staff_admin. Включает неактивные политики (admin-конфигурация).
      operationId: listSLAPolicies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/SLAPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - SLA
      summary: Создать SLA-политику
      description: scope=staff_admin
      operationId: createSLAPolicy
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SLAPolicyInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SLAPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/sla-policies/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - SLA
      summary: SLA-политика
      description: scope=staff_admin
      operationId: getSLAPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SLAPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - SLA
      summary: Изменить SLA-политику
      description: scope=staff_admin
      operationId: updateSLAPolicy
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SLAPolicyUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SLAPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/business-hours:
    get:
      tags:
      - SLA
      summary: Список графиков рабочего времени
      description: scope=staff_admin. Включает неактивные графики.
      operationId: listBusinessHours
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/BusinessHours'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - SLA
      summary: Создать график рабочего времени
      description: scope=staff_admin
      operationId: createBusinessHours
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BusinessHours'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/business-hours/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - SLA
      summary: График рабочего времени
      description: scope=staff_admin
      operationId: getBusinessHours
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BusinessHours'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - SLA
      summary: Изменить график рабочего времени
      description: scope=staff_admin
      operationId: updateBusinessHours
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BusinessHours'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/automation-rules:
    get:
      tags:
      - Automation
      summary: Список правил автоматизации
      description: scope=staff_admin. Включает неактивные правила (admin-конфигурация).
      operationId: listAutomationRules
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AutomationRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Automation
      summary: Создать правило
      description: scope=staff_admin. Триггер → условия → действия.
      operationId: createAutomationRule
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRuleInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AutomationRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/automation-rules/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Automation
      summary: Правило автоматизации
      description: scope=staff_admin
      operationId: getAutomationRule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AutomationRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Automation
      summary: Изменить правило автоматизации
      description: scope=staff_admin
      operationId: updateAutomationRule
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRuleUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AutomationRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /api/v1/support/stats:
    get:
      tags:
      - Analytics
      summary: Метрики поддержки
      description: Сводные метрики за период для панели супервайзера и дашборда Grafana.
      operationId: getSupportStats
      parameters:
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SupportStats'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/support/reports/{type}:
    get:
      tags:
      - Analytics
      summary: Отчёт
      description: 'Готовые отчёты: объём по типам/каналам, SLA, удовлетворённость, повторные обращения.'
      operationId: getReport
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - volume
          - sla
          - satisfaction
          - reopens
          - operators
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/csv:
              schema:
                type: string
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/support/webhooks:
    get:
      tags:
      - Webhooks
      summary: Список подписок
      operationId: listWebhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/WebhookSubscription'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
    post:
      tags:
      - Webhooks
      summary: Зарегистрировать webhook
      description: События доставляются с HMAC-подписью (заголовок X-Signature). scope=staff_admin.
      operationId: createWebhook
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscription'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/WebhookSubscription'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: m2m-доступ (например, от kb-search) — Bearer JWT через Client Credentials
    CookieAuth:
      type: apiKey
      in: cookie
      name: rehome_session
      description: Браузерная сессия оператора/заявителя. scope вычисляется из сессии на бэкенде.
  parameters:
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Идентификатор запроса для трассировки
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
      description: Ключ идемпотентности для безопасного повтора POST
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: false
      schema:
        type: string
      description: CSRF-токен для браузерных сессий (CookieAuth)
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Курсор для пагинации (из предыдущего ответа)
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
  schemas:
    Error:
      type: object
      description: Ошибка в формате RFC 7807 (problem+json)
      required:
      - type
      - title
      - status
      properties:
        type:
          type: string
          format: uri
          example: https://api.rehome.one/errors/validation
        title:
          type: string
          example: Validation failed
        status:
          type: integer
          example: 422
        detail:
          type: string
        instance:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Pagination:
      type: object
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Курсор следующей страницы (null если конец)
        has_more:
          type: boolean
    ResponseEnvelope:
      type: object
      description: Общий конверт успешного ответа
      properties:
        data:
          description: Полезная нагрузка (объект или массив)
        request_id:
          type: string
          format: uuid
    TicketStatus:
      type: string
      enum:
      - NEW
      - OPEN
      - PENDING
      - WAITING
      - ESCALATED
      - RESOLVED
      - CLOSED
      - REOPENED
      description: NEW — новое; OPEN — в работе; PENDING — ждёт заявителя; WAITING — ждёт третью сторону (коллаборант/юрист/банк); ESCALATED — на 2-й линии; RESOLVED — решено, ждёт подтверждения; CLOSED — закрыто; REOPENED — переоткрыто
    TicketPriority:
      type: string
      enum:
      - low
      - normal
      - high
      - critical
    TicketType:
      type: string
      enum:
      - PAYMENT
      - CONTRACT
      - MOVE_IN
      - MOVE_OUT
      - MAINTENANCE
      - UTILITIES
      - ACCOUNT
      - LISTING
      - COLLABORATOR
      - COMPLAINT
      - FRAUD
      - COMPENSATION
      - GUARANTEE
      - INSURANCE
      - ACCEPTANCE_ACT
      - OTHER
      description: Тип обращения под предметную область аренды (раздел 3.3 ТЗ)
    TicketChannel:
      type: string
      enum:
      - AI_CHAT
      - EMAIL
      - WEB_FORM
      - PHONE
      - INTERNAL
      - LK_CLAIM
      - INSURER_WEBHOOK
      - SYSTEM
      description: Канал поступления. AI_CHAT — главный (эскалация из kb-search). LK_CLAIM/INSURER_WEBHOOK/SYSTEM — для претензионных типов (v1.1)
    TicketTeam:
      type: string
      enum:
      - support
      - legal
      - finance
      description: Команда обработки
    TicketCaseState:
      type: string
      enum:
      - CLAIM_SUBMITTED
      - DOCS_PENDING
      - UNDER_REVIEW
      - INSPECTION
      - DECISION_MADE
      - PAYOUT_PENDING
      - PAID
      - REJECTED
      description: Состояние разбирательства претензионного обращения (раздел 3.2.1 ТЗ)
    TicketDecision:
      type: string
      enum:
      - FULL
      - PARTIAL
      - REJECTED
      description: Решение по претензии (Договор 5.8.8)
    ActKind:
      type: string
      enum:
      - MOVE_IN
      - MOVE_OUT
      description: Тип акта приёма-передачи
    SigningStatus:
      type: string
      enum:
      - one_signed
      - both_signed
      - disputed
      description: Статус подписания акта
    AuthorType:
      type: string
      enum:
      - requester
      - operator
      - system
      - ai
    SlaState:
      type: string
      enum:
      - none
      - ok
      - approaching
      - breached
      description: >-
        Состояние SLA для индикации (FR-4.3): none — без SLA; ok — в норме;
        approaching — осталось <20% временного окна; breached — дедлайн нарушен.
        Комбинация (худшее) дедлайнов первого ответа и решения; учитывает паузу.
    TicketSummary:
      type: object
      description: Краткая карточка заявки (для списков)
      required:
      - id
      - number
      - subject
      - status
      - priority
      - type
      - channel
      - created_at
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
          example: RH-2026-00042
          description: Человекочитаемый номер
        subject:
          type: string
        status:
          $ref: '#/components/schemas/TicketStatus'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        type:
          $ref: '#/components/schemas/TicketType'
        channel:
          $ref: '#/components/schemas/TicketChannel'
        requester_id:
          type: string
          format: uuid
        assignee_id:
          type:
          - string
          - 'null'
          format: uuid
        team:
          oneOf:
          - $ref: '#/components/schemas/TicketTeam'
          - type: 'null'
        first_response_due_at:
          type:
          - string
          - 'null'
          format: date-time
        resolution_due_at:
          type:
          - string
          - 'null'
          format: date-time
        sla_breached:
          type: boolean
          description: Нарушен ли дедлайн решения (расчётное поле; учитывает паузу и факт решения)
        sla_state:
          $ref: '#/components/schemas/SlaState'
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Ticket:
      allOf:
      - $ref: '#/components/schemas/TicketSummary'
      - type: object
        properties:
          allowed_status_transitions:
            type: array
            readOnly: true
            description: Статусы, в которые разрешён переход из текущего (машина состояний §3.2)
            items:
              $ref: '#/components/schemas/TicketStatus'
          description:
            type: string
            description: Первичное описание проблемы
          premises_id:
            type:
            - string
            - 'null'
            format: uuid
            description: Связанная квартира
          booking_id:
            type:
            - string
            - 'null'
            format: uuid
            description: Связанный договор/бронь
          collaborator_id:
            type:
            - string
            - 'null'
            format: uuid
          service_order_id:
            type:
            - string
            - 'null'
            format: uuid
            description: 'Связанный заказ коллаборанту (ADR-0005: разные сущности по ссылке)'
          chat_session_id:
            type:
            - string
            - 'null'
            format: uuid
            description: Сессия AI-чата, откуда эскалировано
          sla_policy_id:
            type:
            - string
            - 'null'
            format: uuid
          first_responded_at:
            type:
            - string
            - 'null'
            format: date-time
          resolved_at:
            type:
            - string
            - 'null'
            format: date-time
          closed_at:
            type:
            - string
            - 'null'
            format: date-time
          reopened_count:
            type: integer
            default: 0
          custom_fields:
            type: object
            additionalProperties: true
          access_level:
            type: string
            enum:
            - PUBLIC
            - LOGGED
            - AGENT
            - STAFF
            - LEGAL
            - HR_RESTRICTED
            description: Контур доступа (ADR-0003). Обычно LOGGED
          rating:
            type:
            - integer
            - 'null'
            minimum: 1
            maximum: 5
          rating_comment:
            type:
            - string
            - 'null'
          case_state:
            oneOf:
            - $ref: '#/components/schemas/TicketCaseState'
            - type: 'null'
            description: Состояние разбирательства (для претензионных типов)
          claim_amount:
            type:
            - number
            - 'null'
            description: Заявленная сумма ущерба (COMPENSATION)
          approved_amount:
            type:
            - number
            - 'null'
            description: Утверждённая к выплате сумма
          decision:
            oneOf:
            - $ref: '#/components/schemas/TicketDecision'
            - type: 'null'
          decision_reason:
            type:
            - string
            - 'null'
            description: Мотивировка (обязательна при PARTIAL/REJECTED)
          decision_notified_at:
            type:
            - string
            - 'null'
            format: date-time
          payout_due_at:
            type:
            - string
            - 'null'
            format: date-time
            description: Дедлайн выплаты (не более 10 рабочих дней)
          linked_payment_id:
            type:
            - string
            - 'null'
            format: uuid
          regress_obligation_id:
            type:
            - string
            - 'null'
            format: uuid
          policy_id:
            type:
            - string
            - 'null'
            format: uuid
          insurance_event_id:
            type:
            - string
            - 'null'
            format: uuid
          acceptance_act_id:
            type:
            - string
            - 'null'
            format: uuid
          case_details:
            oneOf:
            - $ref: '#/components/schemas/TicketCaseDetails'
            - type: 'null'
            description: Тип-специфичные детали (раздел 3.11 ТЗ)
    TicketCreate:
      type: object
      required:
      - subject
      - type
      properties:
        subject:
          type: string
          maxLength: 300
        description:
          type: string
        type:
          $ref: '#/components/schemas/TicketType'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        channel:
          $ref: '#/components/schemas/TicketChannel'
        requester_id:
          type: string
          format: uuid
          description: Если создаёт оператор от имени заявителя
        premises_id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
          additionalProperties: true
    TicketUpdate:
      type: object
      description: Частичное обновление. Недопустимые переходы статуса → 422
      properties:
        subject:
          type: string
        status:
          $ref: '#/components/schemas/TicketStatus'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        type:
          $ref: '#/components/schemas/TicketType'
        team:
          $ref: '#/components/schemas/TicketTeam'
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
          additionalProperties: true
    TicketMessage:
      type: object
      required:
      - id
      - ticket_id
      - author_type
      - body
      - created_at
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        author_id:
          type:
          - string
          - 'null'
          format: uuid
        author_type:
          $ref: '#/components/schemas/AuthorType'
        body:
          type: string
        is_internal:
          type: boolean
          default: false
          description: Внутренняя заметка. НЕ видна заявителю (инвариант ADR-0003)
        attachments:
          type: array
          items:
            type: string
            format: uuid
            description: ID файла в kb-files
        created_at:
          type: string
          format: date-time
    TicketHistory:
      type: object
      description: Неизменяемая строка журнала действий по заявке (§3.7)
      required:
      - id
      - ticket_id
      - actor_id
      - action
      - created_at
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        actor_id:
          type: string
          format: uuid
          description: Кто совершил действие (sub из токена)
        action:
          type: string
          description: 'Вид действия. Значения: created, status_changed, reassigned, priority_changed, type_changed, team_changed, tags_updated, message_added, rated'
        from_value:
          type:
          - object
          - 'null'
          additionalProperties: true
          description: 'Значения до изменения в форме {"<поле>": <значение>}; null для события created'
        to_value:
          type:
          - object
          - 'null'
          additionalProperties: true
          description: 'Значения после изменения в форме {"<поле>": <значение>}'
        created_at:
          type: string
          format: date-time
    RequesterUser:
      type: object
      description: Профиль заявителя (контекст оператору, FR-2.2)
      required:
      - id
      - display_name
      - role
      - is_active
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        role:
          type: string
        is_active:
          type: boolean
        created_at:
          type:
          - string
          - 'null'
          format: date-time
    RequesterPremises:
      type: object
      description: Объект (квартира/помещение) по заявке
      required:
      - id
      - address
      - kind
      properties:
        id:
          type: string
          format: uuid
        address:
          type: string
        kind:
          type: string
        rooms:
          type:
          - integer
          - 'null'
        area_m2:
          type:
          - number
          - 'null'
        landlord_id:
          type:
          - string
          - 'null'
          format: uuid
    RequesterBooking:
      type: object
      description: Бронь/договор найма по заявке
      required:
      - id
      - premises_id
      - tenant_id
      - landlord_id
      - status
      - period_start
      properties:
        id:
          type: string
          format: uuid
        premises_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        landlord_id:
          type: string
          format: uuid
        status:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type:
          - string
          - 'null'
          format: date
        monthly_rent:
          type:
          - number
          - 'null'
    RequesterContact:
      type: object
      description: Контакты коллаборанта
      properties:
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
    RequesterCollaborator:
      type: object
      description: Коллаборант по заявке
      required:
      - id
      - name
      - category
      - is_active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        contact:
          oneOf:
          - $ref: '#/components/schemas/RequesterContact'
          - type: 'null'
        is_active:
          type: boolean
    RequesterContext:
      type: object
      description: 'Контекст заявителя на карточке оператора (FR-2.2). Секции независимы и nullable. degraded=true — интеграция с platform не сконфигурирована (см. #77), не про существование сущности.'
      required:
      - user
      - premises
      - booking
      - collaborator
      - degraded
      properties:
        user:
          oneOf:
          - $ref: '#/components/schemas/RequesterUser'
          - type: 'null'
        premises:
          oneOf:
          - $ref: '#/components/schemas/RequesterPremises'
          - type: 'null'
        booking:
          oneOf:
          - $ref: '#/components/schemas/RequesterBooking'
          - type: 'null'
        collaborator:
          oneOf:
          - $ref: '#/components/schemas/RequesterCollaborator'
          - type: 'null'
        degraded:
          type: boolean
    TicketMessageCreate:
      type: object
      required:
      - body
      properties:
        body:
          type: string
        is_internal:
          type: boolean
          default: false
        attachments:
          type: array
          items:
            type: string
            format: uuid
        canned_response_id:
          type: string
          format: uuid
          description: Если ответ из шаблона — для учёта usage_count
    TicketFromChat:
      type: object
      description: Создание заявки из эскалации AI-чата kb-search
      required:
      - chat_session_id
      - requester_id
      properties:
        chat_session_id:
          type: string
          format: uuid
        requester_id:
          type: string
          format: uuid
        subject:
          type: string
          description: Если не задано — генерируется из диалога
        type:
          $ref: '#/components/schemas/TicketType'
        transcript:
          type: array
          description: История диалога для контекста оператора
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                - user
                - assistant
              content:
                type: string
              at:
                type: string
                format: date-time
        premises_id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
    CannedResponse:
      type: object
      required:
      - id
      - title
      - body
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
          description: Текст с переменными {{requester_name}}, {{ticket_number}}
        type:
          oneOf:
          - $ref: '#/components/schemas/TicketType'
          - type: 'null'
        linked_article_slug:
          type:
          - string
          - 'null'
          description: Связанная статья kb-wiki
        usage_count:
          type: integer
          default: 0
    CannedResponseInput:
      type: object
      required:
      - title
      - body
      properties:
        title:
          type: string
        body:
          type: string
        type:
          $ref: '#/components/schemas/TicketType'
        linked_article_slug:
          type: string
    SLAAppliesTo:
      type: object
      additionalProperties: false
      description: Условия применения SLA-политики (пустой объект = применима ко всем)
      properties:
        types:
          type: array
          items:
            $ref: '#/components/schemas/TicketType'
        priorities:
          type: array
          items:
            $ref: '#/components/schemas/TicketPriority'
        requester_roles:
          type: array
          items:
            type: string
    SLAPolicy:
      type: object
      required:
      - id
      - name
      - applies_to
      - first_response_minutes
      - resolution_minutes
      - priority
      - is_active
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        applies_to:
          $ref: '#/components/schemas/SLAAppliesTo'
        first_response_minutes:
          type: integer
        resolution_minutes:
          type: integer
        business_hours_id:
          type:
          - string
          - 'null'
          format: uuid
          description: График (рабочие часы / 24-7 при null)
        priority:
          type: integer
          description: Приоритет применения при пересечении условий
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SLAPolicyInput:
      type: object
      additionalProperties: false
      required:
      - name
      - first_response_minutes
      - resolution_minutes
      properties:
        name:
          type: string
        applies_to:
          $ref: '#/components/schemas/SLAAppliesTo'
        first_response_minutes:
          type: integer
        resolution_minutes:
          type: integer
        business_hours_id:
          type:
          - string
          - 'null'
          format: uuid
        priority:
          type: integer
    SLAPolicyUpdate:
      type: object
      additionalProperties: false
      description: Частичное обновление SLA-политики (переданные поля)
      properties:
        name:
          type: string
        applies_to:
          $ref: '#/components/schemas/SLAAppliesTo'
        first_response_minutes:
          type: integer
        resolution_minutes:
          type: integer
        business_hours_id:
          type:
          - string
          - 'null'
          format: uuid
        priority:
          type: integer
        is_active:
          type: boolean
    WeeklySchedule:
      type: object
      additionalProperties: false
      description: >-
        Недельный график: день → массив интервалов рабочего времени. Интервал —
        пара ["HH:MM", "HH:MM"] (24ч, open < close). Отсутствующий день или
        пустой массив = выходной.
      properties:
        mon:
          $ref: '#/components/schemas/DayIntervals'
        tue:
          $ref: '#/components/schemas/DayIntervals'
        wed:
          $ref: '#/components/schemas/DayIntervals'
        thu:
          $ref: '#/components/schemas/DayIntervals'
        fri:
          $ref: '#/components/schemas/DayIntervals'
        sat:
          $ref: '#/components/schemas/DayIntervals'
        sun:
          $ref: '#/components/schemas/DayIntervals'
    DayIntervals:
      type: array
      description: Интервалы рабочего времени за день
      items:
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
    BusinessHours:
      type: object
      required:
      - id
      - name
      - timezone
      - schedule
      - is_active
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        timezone:
          type: string
          description: IANA-таймзона (напр. Europe/Moscow)
        schedule:
          $ref: '#/components/schemas/WeeklySchedule'
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BusinessHoursInput:
      type: object
      additionalProperties: false
      required:
      - name
      - timezone
      properties:
        name:
          type: string
        timezone:
          type: string
          description: IANA-таймзона (напр. Europe/Moscow)
        schedule:
          $ref: '#/components/schemas/WeeklySchedule'
    BusinessHoursUpdate:
      type: object
      additionalProperties: false
      description: Частичное обновление графика (переданные поля)
      properties:
        name:
          type: string
        timezone:
          type: string
        schedule:
          $ref: '#/components/schemas/WeeklySchedule'
        is_active:
          type: boolean
    AutomationTrigger:
      type: string
      enum:
      - on_create
      - on_update
      - on_sla_breach
      - time_based
    AutomationConditions:
      type: object
      additionalProperties: false
      description: >-
        Условия применения правила (конъюнкция). Отсутствует/пусто = wildcard;
        пустой объект = ко всем заявкам триггера. keywords — подстрочный
        case-insensitive матчинг по subject/description.
      properties:
        types:
          type: array
          items:
            $ref: '#/components/schemas/TicketType'
        priorities:
          type: array
          items:
            $ref: '#/components/schemas/TicketPriority'
        channels:
          type: array
          items:
            $ref: '#/components/schemas/TicketChannel'
        keywords:
          type: array
          items:
            type: string
    AssignActionParams:
      type: object
      additionalProperties: false
      required:
      - strategy
      properties:
        strategy:
          type: string
          enum: [direct, round_robin, least_load]
        operator_id:
          type: string
          format: uuid
          description: Требуется при strategy=direct.
        team:
          $ref: '#/components/schemas/TicketTeam'
        pool:
          type: array
          description: 'Явный пул операторов (seam до platform-источника, #77).'
          items:
            type: string
            format: uuid
    SetStatusActionParams:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/TicketStatus'
    SetPriorityActionParams:
      type: object
      additionalProperties: false
      required: [priority]
      properties:
        priority:
          $ref: '#/components/schemas/TicketPriority'
    AddTagActionParams:
      type: object
      additionalProperties: false
      required: [tags]
      properties:
        tags:
          type: array
          minItems: 1
          items:
            type: string
    EscalateActionParams:
      type: object
      additionalProperties: false
      properties:
        team:
          $ref: '#/components/schemas/TicketTeam'
    NotifyActionParams:
      type: object
      additionalProperties: false
      required: [recipient]
      description: 'seam: доставка уведомлений — E7 (config-gated, ADR-0008 Реш.3).'
      properties:
        recipient:
          type: string
          enum: [requester, assignee, supervisor, team]
        channel:
          type: string
        template:
          type: string
    CreateServiceOrderActionParams:
      type: object
      additionalProperties: false
      description: 'seam: заказ коллаборанта — platform/#77 (config-gated).'
      properties:
        collaborator_category:
          type: string
        premises_id:
          type: string
          format: uuid
    AssignAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [assign]
        params:
          $ref: '#/components/schemas/AssignActionParams'
    SetStatusAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [set_status]
        params:
          $ref: '#/components/schemas/SetStatusActionParams'
    SetPriorityAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [set_priority]
        params:
          $ref: '#/components/schemas/SetPriorityActionParams'
    AddTagAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [add_tag]
        params:
          $ref: '#/components/schemas/AddTagActionParams'
    EscalateAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [escalate]
        params:
          $ref: '#/components/schemas/EscalateActionParams'
    NotifyAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [notify]
        params:
          $ref: '#/components/schemas/NotifyActionParams'
    CreateServiceOrderAction:
      type: object
      additionalProperties: false
      required: [action, params]
      properties:
        action:
          type: string
          enum: [create_service_order]
        params:
          $ref: '#/components/schemas/CreateServiceOrderActionParams'
    AutomationAction:
      oneOf:
      - $ref: '#/components/schemas/AssignAction'
      - $ref: '#/components/schemas/SetStatusAction'
      - $ref: '#/components/schemas/SetPriorityAction'
      - $ref: '#/components/schemas/AddTagAction'
      - $ref: '#/components/schemas/EscalateAction'
      - $ref: '#/components/schemas/NotifyAction'
      - $ref: '#/components/schemas/CreateServiceOrderAction'
      discriminator:
        propertyName: action
        mapping:
          assign: '#/components/schemas/AssignAction'
          set_status: '#/components/schemas/SetStatusAction'
          set_priority: '#/components/schemas/SetPriorityAction'
          add_tag: '#/components/schemas/AddTagAction'
          escalate: '#/components/schemas/EscalateAction'
          notify: '#/components/schemas/NotifyAction'
          create_service_order: '#/components/schemas/CreateServiceOrderAction'
    AutomationRule:
      type: object
      required:
      - id
      - name
      - trigger
      - conditions
      - actions
      - is_active
      - order
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        trigger:
          $ref: '#/components/schemas/AutomationTrigger'
        conditions:
          $ref: '#/components/schemas/AutomationConditions'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/AutomationAction'
        is_active:
          type: boolean
          default: true
        order:
          type: integer
          description: Порядок применения (asc; конфликт = last-write-wins).
    AutomationRuleInput:
      type: object
      additionalProperties: false
      required:
      - name
      - trigger
      - actions
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        trigger:
          $ref: '#/components/schemas/AutomationTrigger'
        conditions:
          $ref: '#/components/schemas/AutomationConditions'
        actions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AutomationAction'
        is_active:
          type: boolean
          default: true
        order:
          type: integer
          default: 0
    AutomationRuleUpdate:
      type: object
      additionalProperties: false
      description: Частичное обновление правила (только переданные поля).
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        trigger:
          $ref: '#/components/schemas/AutomationTrigger'
        conditions:
          $ref: '#/components/schemas/AutomationConditions'
        actions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AutomationAction'
        is_active:
          type: boolean
        order:
          type: integer
    SupportStats:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        tickets:
          type: object
          properties:
            total:
              type: integer
            open:
              type: integer
            resolved:
              type: integer
            closed:
              type: integer
            by_type:
              type: object
              additionalProperties:
                type: integer
            by_channel:
              type: object
              additionalProperties:
                type: integer
        sla:
          type: object
          properties:
            first_response_compliance_pct:
              type: number
            resolution_compliance_pct:
              type: number
            breaches:
              type: integer
        performance:
          type: object
          properties:
            avg_first_response_minutes:
              type: number
            avg_resolution_minutes:
              type: number
            reopened_rate_pct:
              type: number
        quality:
          type: object
          properties:
            avg_rating:
              type: number
            ratings_count:
              type: integer
        ai_chat:
          type: object
          description: Метрики первой линии (kb-search)
          properties:
            containment_rate_pct:
              type: number
              description: Доля диалогов без эскалации
            escalated_count:
              type: integer
    TicketCaseDetails:
      type: object
      description: Детали претензионного обращения (1:1 с Ticket, раздел 3.11 ТЗ)
      required:
      - case_type
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        case_type:
          type: string
          enum:
          - COMPENSATION
          - GUARANTEE
          - INSURANCE
          - ACCEPTANCE_ACT
        act_kind:
          oneOf:
          - $ref: '#/components/schemas/ActKind'
          - type: 'null'
        signing_status:
          oneOf:
          - $ref: '#/components/schemas/SigningStatus'
          - type: 'null'
        payload:
          type: object
          additionalProperties: true
          description: Структура по типу (валидируется схемой на стороне сервиса)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebhookSubscription:
      type: object
      required:
      - url
      - events
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
            - ticket.created
            - ticket.updated
            - ticket.assigned
            - ticket.escalated
            - ticket.resolved
            - ticket.closed
            - ticket.reopened
            - ticket.message_added
            - ticket.sla_breached
            - ticket.rated
            - ticket.case_decided
            - ticket.payout_released
            - ticket.insurance_event
        secret:
          type: string
          description: Секрет для HMAC-подписи (только при создании)
        is_active:
          type: boolean
          default: true
  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Не аутентифицирован
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Нет прав (scope недостаточен)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Не найдено (или недоступно по access_level — 404 вместо 403, ADR-0003)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Конфликт (например, недопустимый переход статуса)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Ошибка валидации
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
